/* Importando a fonte */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

/* Estilo do body */
body {
  background-blend-mode: overlay;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.25' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E") center center / 512px repeat, #231f20;
  min-height: 100vh;
  display: grid;
  grid: 100vh / 1fr;
  place-items: center;
}

/* Estilo do título */
h1 {
  font: 10vmin/1 "Libre Franklin";
  font-weight: 700;
  letter-spacing: -.05em;
  color: #fff4;
  text-shadow: 0 0 5px #fff;
}

/* Animações do background com gradientes */
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.hero {
  position: relative;
  z-index: 2;
  text-align: center;
}
